<!-- start nav -->
<nav class="navbar">
    <input type="checkbox" id="toggle">

    <div id="brand"><span>Tech</span><span>Planet</span></div>
    <label for="toggle" id="toggleLabel" class="click click-style" (click)="openNav()" appWindowSroll>
          <span></span>
          <span></span>
          <span></span>
      </label>
    <div id="sideNav" class="menu">
        <a href="#" class="menu-item active" id="home">home</a>
        <a href="#" class="menu-item" id="moree">About Me</a>
        <a href="#" class="menu-item" id="Portfolio">Portfolio</a>
        <a href="#" class="menu-item" id="Services">Services</a>
        <a href="#" class="menu-item" id="Contact">Contact Me</a>
    </div>
</nav>
<!-- end nav -->